.navbar {
  background-color: yellow;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-link {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}