.back {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #09e1cd;
  border: none;
  border-radius: 3px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  margin: 30px;
}
