.navbar {
    background-color: #dcfbfa;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .navbar div a {
    text-decoration: none;
    margin: 0 15px;
    color: black;
  }

  .selected a {
    font-weight: 800;
  }